.alert-info {
    background-color: #38c75e !important;
}

.footer-container {
    background-image: url("http://ourrental.test/img/our_rental_footer.png");
    width: 100%;
    height: 80px;
}

.header-container {
    background-image: url("http://ourrental.test/img/our_rental_header.png");
    width: 100%;
    height: 200px;
}